body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4D6C3B;
    color: #898989;
  }
  
  header {
    background-color: #44523B;
    color: #fff;
    padding: 1rem;
    
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
  }
  
  .landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/Rhino\ Video.mp4');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .landing h1 {
    font-size: 4rem;
    color: #fff;
    text-shadow: 2px 2px #333;
    margin-bottom: 2rem;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
  }
  
  article {
    flex-basis: calc(33.33% - 1rem);
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  article img {
    width: 100%;
    height: auto;
  }
  
  .landing video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
  }
  
  article h2 {
    margin-top: 0;
  }
  
  article p {
    margin-bottom: 1rem;
  }
  
  article a {
    display: inline-block;
    background-color: #599A58;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
  }
  
  article a:hover {
    background-color: #44523B;
  }
  
  footer {
    background-color: #44523B;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
  }
  
  .landing h1 {
    position: relative;
    z-index: 1;
  }
  
  .landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .landing video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
  }
  
  .landing button {
    background-color: #599A58;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    margin: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    position: relative;
    z-index: 1;
    border-color: black;
  }
  
  .landing button:hover {
    background-color: #44523B;
    text-decoration: none;
    outline: none; /* Add this line */
  }
  
  a{
    text-decoration: none;
    color: #fff;
  }
  p{
    text-align: justify;
  }